$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import url(http://fonts.googleapis.com/css?family=Coda);
// bower:scss
@import "bootstrap.scss";
// endbower

html,body {
  height:100%;
  background:url("../images/use_your_illusion.png") repeat


}
h1 {
  padding-top:1em;
  font-size:40px;
  color:#eee;
}

.lead {
	color:#ccc;
}


/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  //background-color:#110022;


  color:#eee;
  overflow:hidden;
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.v-center {
  margin-top:7%;
}

.panel-default {
  background-color: rgba(0,0,0, .3);
}
.panel-default > .panel-heading{
  color: #dfc778;
  background-color: rgba(0,0,0, .3);
  padding: 5px 15px;
  border-bottom: 1px solid #222;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
